
<div class='chart'>
  <canvas id="doughnut" width="300px" class="chart chart-doughnut"
    chart-data="data" chart-labels="labels">
  </canvas>
</div>
<div class="select-style">
  <select ng-model="scale" ng-change="setScale(scale)" >
    <option value="agree" >agreement</option>
    <option value="level">low to high</option>
    <option value="number">number scale</option>
  </select>
</div>

<div class="scale-bar">
  <div class="option" ng-show="scale === 'level'">
    <button ng-repeat="value in values" ng-model="votes.value" ng-click="addVote(value)" class="{{ value | valueClass}}">{{ value | displayLevel }} <span ng-show="votes[value] > 0">({{votes[value]}})</span></button>
  </div>
  <div class="option" ng-show="scale === 'agree'" >
    <button ng-repeat="value in values" ng-model="votes.value" ng-click="addVote(value)" class="{{ value | valueClass}}">{{ value | displayAgree }}</button>
  </div>
  <div class="option" ng-show="scale === 'number'">
    <button ng-repeat="value in values" ng-model="votes.value" ng-click="addVote(value)" class="{{ value | valueClass}}">{{ 4 - value }}</button>
  </div>
</div>
<div class="footer">
  <p>Total votes: {{number}} </p>
  <input ng-click="reset()" type="submit" value="reset" class="light">

</div>
