
<div class='chart'>
  <canvas id="doughnut" width="300px" class="chart chart-doughnut"
    chart-data="data" chart-labels="labels">
  </canvas>
</div>
<p>{{votes}}</p>
<div class="select-style">
  <select ng-model="scale" ng-init="scale = 'level'">
    <option value="agree">agreement</option>
    <option value="level">low to high</option>
    <option value="number">number scale</option>
  </select>
</div>

<button ng-show="scale === 'level'" ng-repeat="value in values" ng-model="votes.value" ng-click="addVote(value)" class="{{ value | valueClass}}">{{ value | displayLevel }}</button>
<button ng-show="scale === 'agree'" ng-repeat="value in values" ng-model="votes.value" ng-click="addVote(value)" class="{{ value | valueClass}}">{{ value | displayAgree }}</button>
<button ng-show="scale === 'number'" ng-repeat="value in values" ng-model="votes.value" ng-click="addVote(value)" class="{{ value | valueClass}}">{{ 4 - value }}</button>

<br>
<p>Total votes: {{number}} </p>
<input ng-click="reset()" type="submit" value="reset" class="light">
