.ng-enter {
  transition: 0.75s;
  opacity: 0;
}
.ng-enter-active {
  opacity: 1;
}
.ng-leave {
  transition: 0.75s;
  opacity: 1;
}
.ng-leave-active {
  opacity: 0;
}
.ng-enter-stagger {
  transition-delay: 0.1s;
}

.option.ng-hide {
  transition: opacity 0.5s ease;
  opacity: 0;
 }

.option {
  transition: opacity 0.5s ease 0.2s;
  opacity: 1;
 }
