.chart {
  margin: 1em auto;
  width: 40vmax;
}

.light {
  background-color: $light;
}

.med-light {
  background-color: $med-light;
}

.med {
  background-color: $med;
}

.med-dark {
  background-color: $med-dark;
}

.dark {
  background-color: $dark;
}
