select, input, button {
  border-radius: 6px;
  font-size: 105%;
  font-weight: 300;
  margin: 0 .5em 1em 0em;
  border: none;
  box-shadow: none;
  line-height: 2em;
  padding: 0 1em 0 1em;
}

select {
  background: transparent;
  margin-bottom: 1em;
}

input {
  line-height: 1.5em;
  padding: 0 .5em 0 .5em;
  margin: .7em;
}
