body {
  font-family: sans-serif;
  font-weight: 300;
  text-align: center;
  padding: 1em;
  width: 100%;
  position: relative;
  .scale-bar {
    width: 100%;
    margin: 0 auto;
    height: 150px; // this positions footer div below
    .option {
      position: absolute; // has to be abosolute in order to cross-fade? Causes other problems...but is there another solution?
      margin: 0 auto;
      left: 0;
      right: 0;
    }
  }
}
